!!! 5
html(lang="en")
  head
    title Privacy Preserving Transcription
    link(rel="stylesheet/less", type="text/css", href="styles/base.less")
    link(rel="stylesheet/less", type="text/css", href="styles/index.less")
    script(type="text/javascript", src="/js/less.min.js")
    script(type="text/javascript", src="/js/dormouse.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    != js('index')

  body
    div#container.row
      div#hdr.column.grid_12
        center
          h2 Journal Transcription
      nav#sidebar.column.grid_3
        center.text
          if user
            p Hi #{user.fullname}
            p <a href="#{logout_url}">Logout</a>
          else
            p <a href="#{login_url}">Login</a>
            p <a href="#{signup_url}">Sign Up</a>
        hr
        center.text
          p
            a(href="/status") Status
        hr
        center.text
          strong Upload
        form.text(action="/upload", enctype="multipart/form-data", method="post")
          p
            label(for="upload[title]") Title
            input(type="text", placeholder="Journal title", id="upload[title]", name="upload[title]")
          p
            label(for="upload[email]") Email
            input(type="text", placeholder="Notification email", id="upload[email]", name="upload[email]")
          p
            label(for="upload[file]") Journal PDF
            input(type="file", id="upload[file]", name="upload[file]", accept="application/pdf, image/jpeg, image/jpg, image/png")
          p
            input(type="submit", value="Upload")
      div#main.column.grid_9
        if task
          div#task.text
            form(action="/transcribe", method="post", id="transcribe")
              !{task}
        else
          div#nothing.text
            if user
              strong Nothing to transcribe currently, please upload a journal
            else
              strong Please login or signup to use the service
