!!! 5
html(lang="en")
  head
    title Transcription Status
    link(rel="stylesheet/less", type="text/css", href="styles/base.less")
    link(rel="stylesheet/less", type="text/css", href="styles/status.less")
    script(type="text/javascript", src="/js/less.min.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")

  body
    div#container.row
      div#hdr.column.grid_12
        center
          h1 Status of Transcriptions
      nav#sidebar.column.grid_3
        ul.text
          li
            a(href="/") Home
      div#main.column.grid_9
        each journal in journals
          h3.text= journal.title
          if journal.completed
            p.text Transcription complete
            p.text The pdfs can be viewed <a href="/complete?journal_id=#{journal._id}">here</a>
          else
            p.text Transcription incomplete
          ul.segments
            each s in journal.segments
              if s.completed
                li <a href="#{s.url}">Segment #{s._id}</a> on page #{s.page} of type #{s.mode} is complete
              else
                li <a href="#{s.url}">Segment #{s._id}</a> on page #{s.page} of type #{s.mode} is pending
