!!! 5
html(lang="en")
  head
    title Transcription Status
    link(rel="stylesheet/less", type="text/css", href="styles/base.less")
    link(rel="stylesheet/less", type="text/css", href="styles/status.less")
    link(rel="stylesheet", type="text/css", href="styles/ui-progress-bar.css")
    script(type="text/javascript", src="/js/less.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(type="text/javascript", src="/js/jquery.mustache.js")
    script(type="text/javascript", src="/js/status.js")

  body
    div#container.row
      div#hdr.column.grid_12
        center
          h1 Transcription Status
      nav#sidebar.column.grid_3
        center.text
          p
            a(href="/") Home
        hr
        center.text
          strong Upload
        form.text(action="/upload", enctype="multipart/form-data", method="post")
          p
            label(for="upload[title]") Title
            input(type="text", placeholder="Journal title", id="upload[title]", name="upload[title]")
          p
            label(for="upload[email]") Email
            input(type="text", placeholder="Notification email", id="upload[email]", name="upload[email]")
          p
            label(for="upload[file]") Journal PDF
            input(type="file", id="upload[file]", name="upload[file]", accept="application/pdf")
          p
            input(type="submit", value="Upload")
      div#main.column.grid_9
        div.text
          for journal in journals
            div.masterj(id="#{journal._id}", data-numsegments="#{journal.numsegments}")
              h3= journal.title
              p Owned by #{journal.email}
              div.ui-progress-bar.ui-container
                div.ui-progress(style="width: #{journal.progress}%;")
                  span.ui-label
                    b.value(data-numdone="#{journal.numdone}")= journal.progress + "%"
              if journal.completed
                p.status
                  | Transcription complete<br/>
                  | You can view the pdfs at
                  | <a href="#{journal.searchable}">searchable</a>
                  | and
                  | <a href="#{journal.transcribed}">transcribed</a>
              else
                p.status Transcription incomplete
              ul.segments
                for s, i in journal.segments
                  if s.completed
                    li(id="#{s._id}", data-num="#{i+1}") <a href="#{s.url}">Segment #{i+1}</a> on page #{s.page + 1} of type #{s.mode} is complete
                  else
                    li(id="#{s._id}", data-num="#{i+1}") <a href="#{s.url}">Segment #{i+1}</a> on page #{s.page + 1} is pending
